.block-newsfeed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

.block-Post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    border: 10px solid maroon;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
}

.info {
    width: 100px;
    color: white;
    background-color: maroon;
    border-bottom-right-radius: 15px ;
    & .name{
        height: 35px;
        font-size: large;
        font-weight: 900;
    }
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.blockImg {
    display: flex;
    justify-content: center;
    width : 100%;
    object-fit: fill;
    overflow: hidden;
}

.Img {
    width: 200px;
    height: 200px

}

.socialBtn {
    display: flex;
    justify-content: center;
}



.blockPostBtn {
    background-color: maroon;
    & p{
        margin-right: 15px;
        font-weight: 900;
        color: white;
        margin-top: 5px;
    }
}

.postBtn {
    display: flex;
}

.blockModify {
    display: flex;
}

.blockModifyDisplay {
    display: none;
}

@media screen and (max-width: 767px) {
    .lmj-banner {
        
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .lmj-banner {
        
    }
}