.block-cart {

    text-align: center;
    width: 15%;
    color: #ff8c69;
    background-color: lightgray;
    border: 2px solid black;
}


@media screen and (max-width: 767px) {
    .block-cart {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .block-cart {
        display: none;
    }
}
