.block-horloge {
    height: 100px;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin-top: 70px;
    & div {
        color: maroon;
        font-weight: 800;
        margin-top: 5px;
    }
}