.block-banner {
    box-sizing: border-box;
    display: flex;
    color: white;
    background-color: maroon;
    border: 1px solid maroon;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.banner-title {
    position: relative;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.banner-logo {
    height: 100%;
    width: 15%;
    object-fit: cover;
    border: 1px solid maroon;
}

@media screen and (max-width: 767px) {
    .banner-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .banner-title {
        font-size: 23px;
    }
}