.block-footer { 
    font-size: large;
    color: #ff8c69;
    width: 100%;
    border: 2px solid black;
    background-color: #353535;
}

@media screen and (max-width: 767px) {
    .footer {
        
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .footer {
        
    }
}