@import "./components/Auth/inputConnect";
@import "./components/Banner/banner";
@import "./components/Cart/cart";
@import "./components/Footer/footer";
@import "./components/Talkspace/talkSpace";
@import "./components/Talkspace/NewsFeed/newsFeed";
@import "./components/Talkspace/TalkField/talkField";
@import "./components/ToogleBtn/toogleBtn";
@import "./components/SocialMedia/socialMedia";
@import "./components/Horloge/horloge";



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  font-family: lato;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

